<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Aprendizaje Activo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="css/main_page/bootstrap.css" media="screen">
    <link rel="stylesheet" href="css/main_page/custom.min.css">    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
    <script>

     var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23019901-1']);
      _gaq.push(['_setDomainName', "bootswatch.com"]);
        _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

    </script>
     <link rel="stylesheet" href="css/main_page/mystyles.css">
     <link rel="stylesheet" type="text/css" href="css/main_page/clouds.css">
     <script type="text/javascript" src="js/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>

    <!--Modules-->
      <script src='js/Modules/app.js'></script>

    <!--services-->
      <script type="text/javascript" src='js/Services/UserService.js'></script>
      <script type="text/javascript" src="js/Services/ChallengueService.js"></script>  

    <!--Controllers-->
      <script src='js/Controllers/UserController.js'></script>
      <script src='js/Controllers/ChallengueController.js'></script>

    <!--Directives-->
      <script type="text/javascript" src="js/Directives/timer.js"></script>  

    <!--Challengue Timeline-->
        <link rel="stylesheet" href="css/matriz_reset.css"> <!-- CSS reset -->
        <link rel="stylesheet" href="css/matriz_style.css"> <!-- Resource style -->
        <script src="js/programs/modernizr.js"></script> <!-- Modernizr -->  
        
  </head>

  <body ng-app="Appi">
  <div  ng-controller="UserController">   
  
    {{connect.message}}
    {{Credentials}}
    <br>
    Timer Test
            <div class='time-to'>
              The world might end in...
             
              <span secondstimer='' value='10'>&nbsp;</span>
            
            </div>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="#" class="navbar-brand">Sistema de Aprendizaje</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Cursos<span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="../default/">Default</a></li>
                <li class="divider"></li>
                <li><a href="../cerulean/">Matriz de Retos</a></li>
                <li><a href="../cosmo/">Cosmo</a></li>
                <li><a href="../cyborg/">Cyborg</a></li>
                <li><a href="../darkly/">Darkly</a></li>
                <li><a href="../flatly/">Flatly</a></li>
                <li><a href="../journal/">Journal</a></li>
         
              </ul>
            </li>           
          </ul>

          <ul class="nav navbar-nav navbar-right">
           <li>
               <span  class="navbar-brand">{{Credentials.name}}</span>
              <img src="http://localhost/Gappi/public/profiles/{{Credentials.image}}" class="img-circle nav_image" alt="User Image">          
           </li>                  
            <li class="dropdown">            
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Sesion <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="download">
                <li><a href="http://jsfiddle.net/bootswatch/h3fgn55j/">Logros</a></li>
                <li class="divider"></li>
                <li><a href="" ng-click="SignOut()">Cerrar Sesión</a></li>              
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
   </div>       
       

    <div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Bienvenidos</h1>
            <p class="lead">Habilidades Disponibles</p>
          </div>
          <div class="col-lg-4 col-md-5 col-sm-6">
            <div class="sponsor">
              <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=bootswatchcom" id="_carbonads_js"></script>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="list-group table-of-contents">
              <a class="list-group-item" href="#navbar">Matriz de Retos</a>
              <a class="list-group-item" href="#buttons">Buttons</a>
              <a class="list-group-item" href="#typography">Typography</a>
              <a class="list-group-item" href="#tables">Tables</a>
            
            </div>
          </div>
          <div class="col-lg-offset-4 col-lg-5 col-md-offset-4 col-md-5 col-sm-offset-0 col-sm-8 visible-md visible-lg">
            <br>
            <br>            
             <div class="owlteacher"  style=" height: 300px; ">            
            </div>
          </div>
        </div>
      </div>
     </div>        

      <div class="row" style="margin-top:5px;">
        <div class="col-lg-12">  
          <iframe src="http://localhost/WebClient/clouds.html"  style="width: 100%; height: 500px; position: absolute;"">
          </iframe>
        </div>  
      </div> 

      <!-- Navbar
      ================================================== -->
      <br>
     <div id="Challen_con" ng-controller="ChallengueController">

      <div class="bs-docs-section clearfix " style="  margin-top:-0.5em;">        
        <div class="row" style="margin-top:5px;">
          <h2 class="text-center" style="color: green;;">Matriz de Retos</h2> 
            <div class="col-lg-12">  
              <div class="matriz center-block" >
                <div class="inside_block center-block" onclick="force_pos()">
                     <div id="table_matriz">datos</div>                                             
                </div>
                <!--<table style="width:365px; height:365px;">
                  <tr>
                    <td style="text-align:center"><button class="btn">ds</button></td>
                    <td style="text-align:center"><button class="btn">ds</button></td>
                    <td style="text-align:center"><button class="btn">ds</button></td>
                    <td style="text-align:center"><button class="btn">ds</button></td>
                  </tr>
                  <tr>
                    <td style="text-align:center"><button class="btn">ds</button></td>
                    <td style="text-align:center"><button class="btn">ds</button></td>
                    <td style="text-align:center"><button class="btn">ds</button></td>
                    <td style="text-align:center"><button class="btn">ds</button></td>
                  </tr>
                  <tr>
                    <td style="text-align:center"><button class="btn">ds</button></td>
                    <td style="text-align:center"><button class="btn">ds</button></td>
                    <td style="text-align:center"><button class="btn">ds</button></td>
                    <td style="text-align:center"><button class="btn">ds</button></td>
                  </tr>
                  <tr>
                    <td style="text-align:center"><button class="btn">ds</button></td>
                    <td style="text-align:center"><button class="btn">ds</button></td>
                    <td style="text-align:center"><button class="btn">ds</button></td>
                    <td style="text-align:center"><button class="btn">ds</button></td>
                  </tr>
                </table>-->             
              </div>                             
            </div>   
          </div>
        </div>
      

          <div class="bs-docs-section clearfix " style="  margin-top:1.5em;">
            <div class="row" style="margin-top:5px;">
              <h2 class="text-center" style="color: green;;">Matriz de Retos</h2>
              <div class="container">           
                <p>{{title}}</p>
                <p>{{connect.message}}</p>
                <p>{{col_row}}</p>
              </div>        
            </div>                             
          </div>

              <!-- Trigger the modal with a button -->
            <!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Large Modal</button>-->

            <!-- Modal -->
            <div class="modal fade" data-keyboard="false" data-backdrop="static" id="myModal"  role="dialog">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{question.title}}</h4>
                  </div>
                  <div class="modal-body">
                    <div class="info-box-content">
                      <span class="info-box-text">Desempeño  </span>
                      <span class="info-box-number">0</span>
                      <div class="progress">
                        <div class="progress-bar" style="width: 0%"></div>
                      </div>               
                      <!--question Timeline -->
                       <section class="cd-horizontal-timeline">
                        <div class="timeline">
                          <div class="events-wrapper">
                            <div class="events">
                              <ol>
                                <li><a href="#0" data-date="0/01/2014" class="selected" id="first_el">16 Jan</a></li>
                                <li ng-repeat="challen in list_challen"><a onclick="add(this)" href="#0" data-date="{{$index+10}}/{{$index+1}}/2014" style="left:{{rising($index+1)}}px !important;">{{$index}}</a>
                                <a ng-if="$index == 0" onclick="add(this)" href="#0" data-date="{{$index+10}}/{{$index+1}}/2014" style="left:{{rising($index+1)}}px !important;" selected>{{$index}}</a>
          
                                </li>                              
                      
                              </ol>

                              <span class="filling-line" aria-hidden="true"></span>
                            </div> <!-- .events -->
                          </div> <!-- .events-wrapper -->
                            
                          <ul class="cd-timeline-navigation">
                            <li><a href="#0" class="prev inactive">Prev</a></li>
                            <li><a href="#0" class="next">Next</a></li>
                          </ul> <!-- .cd-timeline-navigation -->
                        </div> <!-- .timeline -->

                        <div class="events-content">
                          <ol>
                            <li class="selected" data-date="0/01/2014">
                              <h2>Sesion de Retos</h2>
                              <em>Completalos en el menor tiempo posible</em>
                              <p> 
                                Siga las instrucciones como se muestran en pantalla.
                              </p>
                            </li>

                            <li ng-repeat="challen in list_challen" data-date="{{$index+10}}/{{$index+1}}/2014">
                              <h2>{{challen.titulo}}</h2>
                              <em>{{challen.Enunciado}}</em>
                              <p> 
                                 Respuesta: 
                              </p>
                              <input type="text" name="answer">
                            </li>

              
                          </ol>
                        </div> <!-- .events-content -->
                      </section>
                      <!--question Timeline -->
                      <span class="progress-description ng-binding">
                         porcentaje : 0%
                      </span>
                    </div>
                    <!--<p> {{list_challen}} </p> <li  ng-repeat="challen in list_challen"><a>{{challen.id}}</a></li>--> 
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" disabled>Close</button>
                  </div>
                </div>
              </div>
            </div>
            
        </div>

        <script>
        function add(elem)
       {
            // get all 'a' elements
            var a = document.getElementsByTagName('a');
            // loop through all 'a' elements
            for (i = 0; i < a.length; i++) {
                // Remove the class 'active' if it exists
                a[i].classList.remove('selected')
            }
            // add 'active' classs to the element that was clicked
            
        }

        function force_pos()
        {
          console.log('force');
          document.getElementById("first_el").style.marginLeft = "-200px";
          //elem.style.marginLeft = "";
        }

      </script>




      </body>  
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-lg-12">

               <ul class="list-unstyled">
                <li class="pull-right"><a href="#top">Back to top</a></li>
                <li><a href="http://news.bootswatch.com" onclick="pageTracker._link(this.href); return false;">Blog</a></li>
                <li><a href="http://feeds.feedburner.com/bootswatch">RSS</a></li>
                <li><a href="https://twitter.com/bootswatch">Twitter</a></li>
                <li><a href="https://github.com/thomaspark/bootswatch/">GitHub</a></li>
                <li><a href="../help/#api">API</a></li>
                <li><a href="../help/#support">Support</a></li>
              </ul>
              <p>Made by <a href="http://thomaspark.co" rel="nofollow">Thomas Park</a>. Contact him at <a href="mailto:thomas@bootswatch.com">thomas@bootswatch.com</a>.</p>
              <p>Code released under the <a href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE">MIT License</a>.</p>
              <p>Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>.</p>         

            </div>
          </div>
        </div>
      </footer>


    </div>


    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="css/visual_js/bootstrap.min.js"></script>
    <script src="css/visual_js/custom.js"></script>
    <!--controlador del timelinematriz-->
    <script src="js/programs/main_matriz.js"></script>
  </body>
</html>
