.owlteacher
 {
   background-image:url('../../css/images/owlteacher.png');
   background-repeat:no-repeat;
   background-size: contain;
    
 }

.nav_image
{
 	 margin-top: 4px;
	 max-height: 39.2px;
	 max-width: 39.2px; 
}

.matriz
{
	width: 100px;
	height: 100px;
	background: red;
}

   