<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Aprendizaje Activo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../../css/main_page/bootstrap.css" media="screen">
    <link rel="stylesheet" href="../../css/main_page/custom.min.css">    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
    <script>

     var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23019901-1']);
      _gaq.push(['_setDomainName', "bootswatch.com"]);
        _gaq.push(['_setAllowLinker', true]);
      _gaq.push(['_trackPageview']);

     (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
     })();

    </script>
     <link rel="stylesheet" href="../../css/main_page/mystyles.css">
  </head>

  <body>
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Sistema de Aprendizaje</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Cursos<span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="../default/">Default</a></li>
                <li class="divider"></li>
                <li><a href="../cerulean/">Cerulean</a></li>
                <li><a href="../cosmo/">Cosmo</a></li>
                <li><a href="../cyborg/">Cyborg</a></li>
                <li><a href="../darkly/">Darkly</a></li>
                <li><a href="../flatly/">Flatly</a></li>
                <li><a href="../journal/">Journal</a></li>
                <li><a href="../lumen/">Lumen</a></li>
                <li><a href="../paper/">Paper</a></li>
                <li><a href="../readable/">Readable</a></li>
                <li><a href="../sandstone/">Sandstone</a></li>
                <li><a href="../simplex/">Simplex</a></li>
                <li><a href="../slate/">Slate</a></li>
                <li><a href="../spacelab/">Spacelab</a></li>
                <li><a href="../superhero/">Superhero</a></li>
                <li><a href="../united/">United</a></li>
                <li><a href="../yeti/">Yeti</a></li>
              </ul>
  
           
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Sesion <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="download">
                <li><a href="http://jsfiddle.net/bootswatch/h3fgn55j/">Logros</a></li>
                <li class="divider"></li>
                <li><a href="../../css/main_page/bootstrap.min.css">Cerrar Sesión</a></li>
                
              </ul>
            </li>
          </ul>

        </div>
      </div>
    </div>


    <div class="container">

      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-8 col-md-7 col-sm-6">
            <h1>Bienvenidos</h1>
            <p class="lead">Habilidades Disponibles</p>
          </div>
          <div class="col-lg-4 col-md-5 col-sm-6">
            <div class="sponsor">
              <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=bootswatchcom" id="_carbonads_js"></script>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-4">
            <div class="list-group table-of-contents">
              <a class="list-group-item" href="#navbar">Navbar</a>
              <a class="list-group-item" href="#buttons">Buttons</a>
              <a class="list-group-item" href="#typography">Typography</a>
              <a class="list-group-item" href="#tables">Tables</a>
              <a class="list-group-item" href="#forms">Forms</a>
              <a class="list-group-item" href="#navs">Navs</a>
              <a class="list-group-item" href="#indicators">Indicators</a>
              <a class="list-group-item" href="#progress-bars">Progress bars</a>
              <a class="list-group-item" href="#containers">Containers</a>
              <a class="list-group-item" href="#dialogs">Dialogs</a>
            </div>
          </div>
          <div class="col-lg-offset-4 col-lg-5 col-md-offset-4 col-md-5 col-sm-offset-0 col-sm-8 hidden-sm">
            <br>
            <br>
            <div class="row">
              <div class="col-lg-12"> <p class="lead">Habilidades Disponibles</p></div>
            </div>  
            <br>
            <br>
            <div class="row">
              <div class="col-lg-12"> 
                <div class="owlteacher"  style=" height: 300px; ">
              </div>
             </div>
            </div>          
          </div>  
          </div>  
        </div>
      </div>

     

      <!-- Navbar
      ================================================== -->
      <div class="bs-docs-section clearfix ">
        <div class="row">
          <div class="col-lg-12">
             <div class="owlteacher" style=" height: 100px; ">
             </div>
          </div>
        </div>
      </div>


      <!-- Buttons
      ================================================== -->
      <div class="bs-docs-section">
        <div class="page-header">
          <div class="row">
            <div class="col-lg-12">
              
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-7">

         

          </div>

          <div class="col-lg-5">

           

          </div>
        </div>
      </div>

      <!-- Typography
      ================================================== -->
      <div class="bs-docs-section">
        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
           
            </div>
          </div>
        </div>

        <!-- Headings -->

        <div class="row">
          <div class="col-lg-4">

          </div>
          <div class="col-lg-4">


          </div>
          <div class="col-lg-4">
       

          </div>
        </div>

        <!-- Blockquotes -->

        <div class="row">
          <div class="col-lg-12">
            
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
       
            </div>
          </div>
          <div class="col-lg-6">
       
          </div>
        </div>
      </div>

      <!-- Tables
      ================================================== -->
      <div class="bs-docs-section">

        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
           
          </div>
        </div>
      </div>

      <!-- Forms
      ================================================== -->
      <div class="bs-docs-section">
        <div class="row">
          <div class="col-lg-12">
            
          </div>
        </div>

        <div class="row">
          <div class="col-lg-6">
          
          </div>
          <div class="col-lg-4 col-lg-offset-1">

              

          </div>
        </div>
      </div>

      <!-- Navs
      ================================================== -->
      <div class="bs-docs-section">

        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
          
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
           
          </div>
          <div class="col-lg-4">
         
          </div>
          <div class="col-lg-4">
     

          </div>
        </div>


        <div class="row">
          <div class="col-lg-4">
          
          </div>
          <div class="col-lg-4">
       
          </div>
          <div class="col-lg-4">

          </div>
        </div>
      </div>

      <!-- Indicators
      ================================================== -->
      <div class="bs-docs-section">

        <div class="row">
          <div class="col-lg-12">
            
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
      
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
          
          </div>
          <div class="col-lg-4">
         
            </div>
          </div>
          <div class="col-lg-4">
         
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
   
          </div>
          <div class="col-lg-4">
        
          </div>
        </div>
      </div>

      <!-- Progress bars
      ================================================== -->
      <div class="bs-docs-section">

        <div class="row">
          <div class="col-lg-12">
           
          </div>
        </div>
      </div>

      <!-- Containers
      ================================================== -->
      <div class="bs-docs-section">

        <div class="row">
          <div class="col-lg-12">
        
          </div>
        </div>


        <div class="row">
          <div class="col-lg-12">
         
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
           
          </div>
          <div class="col-lg-4">
       
          </div>
          <div class="col-lg-4">
          
          </div>
        </div>


        <div class="row">
          <div class="col-lg-12">
           
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
           
          </div>
          <div class="col-lg-4">
         
          </div>
          <div class="col-lg-4">
           
          </div>
        </div>

        <div class="row">
          <div class="col-lg-12">
          
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
           
            </div>
          </div>
          <div class="col-lg-4">
            
          </div>
          <div class="col-lg-4">
            
          </div>
        </div>
      </div>

      <!-- Dialogs
      ================================================== -->
      <div class="bs-docs-section">

        <div class="row">
          <div class="col-lg-12">
            <div class="page-header">
              
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
         
          </div>
          <div class="col-lg-6">
        
          </div>
        </div>
      </div>

      <div id="source-modal" class="modal fade">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Source Code</h4>
            </div>
            <div class="modal-body">
              <pre></pre>
            </div>
          </div>
        </div>
      </div>

      <footer>
        <div class="container">
          <div class="row">
            <div class="col-lg-12">

               <ul class="list-unstyled">
                <li class="pull-right"><a href="#top">Back to top</a></li>
                <li><a href="http://news.bootswatch.com" onclick="pageTracker._link(this.href); return false;">Blog</a></li>
                <li><a href="http://feeds.feedburner.com/bootswatch">RSS</a></li>
                <li><a href="https://twitter.com/bootswatch">Twitter</a></li>
                <li><a href="https://github.com/thomaspark/bootswatch/">GitHub</a></li>
                <li><a href="../help/#api">API</a></li>
                <li><a href="../help/#support">Support</a></li>
              </ul>
              <p>Made by <a href="http://thomaspark.co" rel="nofollow">Thomas Park</a>. Contact him at <a href="mailto:thomas@bootswatch.com">thomas@bootswatch.com</a>.</p>
              <p>Code released under the <a href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE">MIT License</a>.</p>
              <p>Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a>.</p>         

            </div>
          </div>
        </div>
      </footer>


    </div>


    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../css/visual_js/bootstrap.min.js"></script>
    <script src="../../css/visual_js/custom.js"></script>
  </body>
</html>
