   
<div class="container">
  <div class="page-header" id="banner">
    <div class="row">
      <div class="col-lg-8 col-md-7 col-sm-6">
      <h1>Bienvenidos</h1>
      <p class="lead">Habilidades Disponibles</p>
      </div>
      <div class="col-lg-4 col-md-5 col-sm-6">
      <!--
      <div class="sponsor">
      <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1673&serve=C6AILKT&placement=bootswatchcom" id="_carbonads_js"></script>
      </div>
      -->  
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-4">
        <div class="list-group table-of-contents">
          <a class="list-group-item" href="#Nav_ma">Matriz</a>
        </div>
      </div>
      <div class="col-lg-offset-4 col-lg-5 col-md-offset-4 col-md-5 col-sm-offset-0 col-sm-8 visible-md visible-lg">
        <br>
        <br>            
        <div class="owlteacher"  style=" height: 300px; ">            
        </div>
      </div>
    </div>
  </div>
  
  <div class="row" style="margin-top:5px;">
    <div class="col-lg-12">  
    <!--<iframe src="http://localhost/WebClient/clouds.html"  style="width: 100%; height: 500px; position: absolute;"">
    </iframe>-->
    </div>  
  </div> 

  <br>
  <div id="Challen_con" ng-controller="ChallengueController">

    <div class="bs-docs-section clearfix "  id="Nav_ma" style="  margin-top:-0.5em;">        
      <div class="row" style="margin-top:5px;">
        <h2 class="text-center" style="color: green;;">Retos</h2>
         <div class="col-lg-offset-1 col-lg-1 col-sm-12">
          Calificación
          <table>
            <tr><th>Excelente</th><td><div class='block' style="margin-left:5px !important; background-color:#3ADF00;"></div></td></tr>
            <tr><th>Sobresaliente</th><td><div class='block' style="margin-left:5px !important; background-color:#00FF80;"></div></td></tr>
            <tr><th>Aceptable</th><td><div class='block' style="margin-left:5px !important; background-color:#2EFEC8"></div></td></tr>
            <tr><th>Insuficiente</th><td><div class='block' style="margin-left:5px !important; background-color:#CEF6EC;"></div></td></tr>
          </table>
        </div> 
        <div class="col-lg-12">  
          <div class="matriz center-block" >
            <div class="inside_block center-block" >
               <div id="table_matriz">datos</div>                                             
            </div>         
          </div>                                       
        </div>   
      </div>
    </div>


    <div class="bs-docs-section clearfix " style="  margin-top:1.5em;">
      <div class="row" style="margin-top:5px;">
        <h2 class="text-center" style="color: green;;">Retos</h2>
        <div class="container">           
          <p>{{title}}</p>
          <p>{{connect.message}}</p>
          <p></p>
        </div>        
      </div>                             
    </div>

<style type="text/css">
  .imagetext {
    position: relative;

  }
  .headtext{
    position:absolute;
    top:10px;
  }

  .inputimage{
   position:absolute;
    top:300px; 
  }
  h2 span{
    color:white;
    font: bold 24px/45px Heveltica, Sans-Serif;
    letter-spacing: 1px;
    background: rgb(0,0,0);
    background: rgba(0,0,0,0.7);
    padding: 10px;
  }
  h2 span.spacer{
    padding:0 5px;
  }
</style>
  <!--
    <div id="demo">
      <div class="col-lg-12">
      <div class="row">
        <div class="span12">
        <div id="owl-demo" class="owl-carousel">
          <div class="item">
            <img class="imagetext" src="carousel/images/fullimage4.jpg">
            <h2 class="headtext"><span>Foto encima de la imagen:</span><br/>
            <br>
            <span>Contenido de la pregunta</span></h2>
            <input class="inputimage" type=number>
          </div>
          <div class="item"><img src="carousel/images/fullimage5.jpg"></div>
          <div class="item"><img src="carousel/images/fullimage6.jpg"></div>
          <div class="item"><img src="carousel/images/fullimage7.jpg"></div>
          <div class="item"><img src="carousel/images/fullimage1.jpg" ></div>
          <div class="item"><img src="carousel/images/fullimage2.jpg"></div>
          <div class="item"><img src="carousel/images/fullimage3.jpg"></div>
        </div>
         <!--<label for="transitionType">Select Transition Type</label>
        <select name="transitionType" id="transitionType">
          <option value="fade">fade</option>
          <option value="backSlide">backSlide</option>
          <option value="goDown">goDown</option>
          <option value="fadeUp">fadeUp</option>
        </select>
        <label for="transitionType">Demo de preguntas</label>
        </div>
      </div>
      </div>
    </div>-->
    <!--{{col_row}}--> 
</div>


      
              <!-- Trigger the modal with a button -->
<!--<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Large Modal</button>-->

<!-- Modal -->
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="myModal"  role="dialog">
  <div ng-controller="ChallengueController">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{question.title}}</h4>
      </div>
      <div class="modal-body">
        <div class=text/css"info-box-content">
          <span class="info-box-text">Desempeño  </span>
          <span class="info-box-number">{{percent}}</span>
        <div class="progress">
          <div class="progress-bar" style="width:  {{percent}}%"></div>
        </div>

        <!--input para verificar si la respuesta ya fue enviada (timer o boton enviar)-->
        <input id="type_answer" type="hidden" value="automatico">
        <input id="ans_id" type="hidden" value="0">
        <input id="val_score" type="hidden" value="0">
        <div class='time-to'>                                    
          <div id="timer">timer</div>         
        </div>               
        <!--question Timeline -->
        <section>      
        <style type="text/css">

          .slider {
              width: 800px;
              height: 400px;
              overflow: hidden;
              position: relative;
              background: #e6e6e6;
              border: 20px solid #FFF;
              margin-top: 20px;
          }

          .slide {
              position: absolute;
              top: 0;
              left: 0;
          }

          .arrow {
              position: absolute;
              z-index: 1002;
              display: block;
              top: 50%;
              margin-top: -35px;
              width: 36px;
              height: 71px;
              outline: none;
              cursor: pointer;
              background: url(assets/blank.gif) no-repeat;
          }

          .arrow.prev {
              opacity: 0.2;
              left: 20px;
              background-image: url(assets/paddle_prev_999.png);
              transition: 0.2s linear all;
          }

          .arrow.next {
              opacity: 0.2;
              right: 20px;
              background-image: url(assets/paddle_next_999.png);
              transition: 0.2s linear all;
          }

          .arrow.prev:hover {
              opacity: 1;
              background-image: url(assets/paddle_prev_fff.png);
          }

          .arrow.next:hover {
              opacity: 1;
              background-image: url(assets/paddle_next_fff.png);
          }



          /*---------------------------------------------------------
          NAV
          ---------------------------------------------------------*/

          .nav {
              text-align: center;
              /*display: block;
              /*position: absolute;*/
              z-index: 1002;
              left: 0;
              bottom: -4px;
              right: 0;
              height: 48px;
          }

          .nonDraggableImage{
              -webkit-user-drag: none;
          }

          .nav .wrapper {
              margin: 0 auto;
              width: 100%;
              padding: 1em 0 .8em;
          }

          .nav ul {
              margin: 0;
              width: 100%;
          }

          .nav .dot, .nav .dot a {
              display: inline-block;
              zoom: 1;
          }

          .dots .dot {
              position: relative;
              margin: 0 8px;
              width: 12px;
              height: 12px;
          }

          .dots .dot a {
              position: absolute;
              top: 2px;
              left: 2px;
              width: 6px;
              height: 6px;
              text-indent: 100%;
              white-space: nowrap;
              overflow: hidden;
              background: #FFF;
              border: 1px solid transparent;
              outline: none;
              -webkit-box-shadow: none;
              -moz-box-shadow: none;
              box-shadow: none;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
              -webkit-transition: background-color 0.25s, border-color 0.25s;
              -moz-transition: background-color 0.25s, border-color 0.25s;
              transition: background-color 0.25s, border-color 0.25s;
          }

          .dots .dot a.active {
              border-color: #FFF;
              background-color: transparent;
          }
          .itemslide{
             margin-top: 5em;
          }
        </style>
         <div >
            <div class="item">
              <h2>Sesion de Retos</h2>
                <em>Completalos en el menor tiempo posible</em>
                <p> 
                  Siga las instrucciones como se muestran en pantalla.
                  Deja el numero correspondiente en la casilla para responder las preguntas.
                  Dispones de un limite de tiempo ¡No lo desperdicies¡
                </p>        
            </div>
       
            <div class="container slider">
              <div class="slide col-lg-8 col-lg-offset-4 itemslide slide-animation" ng-repeat="challen in list_challen" ng-hide="!isCurrentSlideIndex($index)">
                <h2>{{challen.titulo}}</h2>
                <em>{{challen.Enunciado}}</em>
                <p> 
                   Respuesta: 
                </p>
                <input type="text" name="answer" ng-model="ans_data" ng-blur="check_ans(ans_data,challen.respuesta)" ng-click="timer_authorize()" >
              </div>
               <a class="arrow prev" href="#" ng-click="nextSlide()"></a>
               <a class="arrow next" href="#" ng-click="prevSlide()"></a>
              <nav class="nav">
                <div class="wrapper">
                  <ul class="dots">
                    <li class="dot" ng-repeat="challen in list_challen">
                      <a href="#" ng-class="{'active':isCurrentSlideIndex($index)}"
                         ng-click="setCurrentSlideIndex($index);">{{challen.titulo}}</a>
                    </li>
                  </ul>
                </div>
              </nav>
            </div>               
          </div>



        </section>       
        <!--question Timeline -->
        <span class="progress-description ng-binding">
        porcentaje : {{percent}}
        </span>
        </div>
        <!--<p> {{list_challen}} </p> <li  ng-repeat="challen in list_challen"><a>{{challen.id}}</a></li>--> 
        </div>

        <div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="send()" id="send_button" data-dismiss="modal" disabled>Enviar</button>
        </div>
      </div>
    </div>
  </div>
  </div>

  <style type="text/css">
    #Ask_title{
      font-size: 300%;
      color: black;
      font-size: bold;
    }
    #Ask_content{
      color:#848484;
      font-size: 120%;
      font-style: italic;
    }
  </style>

  <div id="Ask_con" ng-controller="AskController">
      {{title}}      
    <div class="col-lg-12">
      <div class="row">
        <button class="btn btn-warning" ng-click="get_ask()"> Generar Pregunta</button>
         <button class="btn btn-success " ng-click="send_answer()"> Calificar</button>
         <div class="row">
          <div id="Ask_title" class="col-lg-6">Titulo</div>
          <div id="response_animation" class="col-lg-6">
            
         </div>
        </div>  
          <div id="Ask_content">Contenido de la pregunta</div>
          <div id="Ask_answer" style="margin-top:30px;"> <input type="number" step="any" ng-model="ans_ask" class="form-control"></div>
          <span style="color:red; font-weight:bold;">{{connect.message}}</span>

      </div>
      {{ans}}
    </div>      
  </div>
</div>
